<strong> Hello, {{ provider }} </strong>
<p>There was a time cancellation, check the details below:</p>
<p>
    <strong>Client: </strong> {{ user }} <br>
    <strong>Date/Hour: </strong> {{ date }} <br>
    <br>
    <small>
        The timetable is available for new appointments.
    </small>
</p>